[core]
	editor = nvim -u NONE
[commit]
	gpgsign = true
[include]
    path = .config/git/user.gitconfig
    path = .config/git/alias.gitconfig
    path = .config/git/delta.gitconfig
[init]
	defaultBranch = main
